.section {
    padding: 80px 0;
}

.section5 {
    background: url(../../img/land-img/BackGround-1.png) top center no-repeat;
    /* BACKGROUND ATAS */
    background-size: cover;
}

.heading-gradient {
    letter-spacing: .1em;
    color: #fff;
}

.section-heading {
    margin: 0 0 30px 0;
    text-align: center;
}

/*@media (min-width: 768px)*/
h1, .h1 {
    font-size: 2rem;
}